.filterBar {
  margin-left: 1rem;
  display: flex;
  gap: 0.5rem;
}

.languageFilterContainer {
  justify-content: center;
  background-color: white;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.languageFilterText {
  color: var(--lightTwo);
  margin-bottom: 0.2rem;
}

.multiselect {
}
