.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 900px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  display: flex;
}

.leftSide {
  display: inline-block;
  overflow: hidden;
  margin-right: 1rem;
  min-width: 200px;
}

.leftSide > img {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  /* aspect-ratio: 16 / 9; */
  aspect-ratio: 1 / 1;
  object-fit: cover;

  margin-top: 0px;
  border-radius: 0.8rem;
}

.center {
  display: flex;
  flex-direction: column;

  font-size: 0.9rem;
}
.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.skills {
}

.spokenLanguages {
  margin-top: -1rem;
}

.description {
  margin-top: -0.4rem;
}

.rightSide {
  margin-left: 1rem;
  min-width: 170px;
  display: flex;
  flex-direction: column;
}

.price {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.cardButtons {
  display: flex;
  flex-direction: column;

  height: 100%;
  align-items: center;
  justify-content: top;
  padding-top: 2rem;
}

.btn {
  --color: hsl(200, 50%, 50%);
  background-color: var(--color);
  color: white;
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 50%, 60%);
}

.btnOutline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.btnOutline:hover,
.btnOutline:focus {
  background-color: hsl(200, 50%, 90%);
}

.btn + .btn {
  margin-top: 0.25rem;
}
